<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Sitemaps generator for glitch.com</title>
  </head>
  
  <body>
    <style>
      body { font-family: 'Courier New', monospace; font-size: 14px; padding: 3px; }
      pre, code { background: #eee; font-size: inherit; }
      pre { padding: 10px; }
      code { padding: 2px 5px; }
    </style>
    
    <h1>
      Sitemaps generator for glitch.com
    </h1>
    
    <p>
      Open the console and run <code>npm run generate</code> to rebuild the sitemaps:
    </p>
    
    <pre>
      // rebuild all the sitemaps (projects, users, teams, collections)
      npm run generate
      
      // rebuild the projects sitemap
      npm run generate projects
    </pre>
  </body>
</html>