<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Sitemaps generator for glitch.com</title>
  </head>
  
  <body>
    <style>
      body { font-family: 'Courier New', monospace; font-size: 14px; padding: 0 15px; line-height: 1.5; }
      pre, code { background: #eee; font-size: inherit; }
      pre { white-space: pre-line; padding: 15px; max-width: 600px;}
      code { padding: 2px 5px; }
      .comment { color: gray; }
    </style>
    
    <h1>
      Sitemaps generator for glitch.com
    </h1>
    
    <p>
      Open the console and run <code>npm run generate</code> to rebuild the sitemaps:
    </p>
    
    <pre>
      <span class="comment">// rebuild all the sitemaps (projects, users, teams, collections)</span>
      npm run generate
      
      <span class="comment">// rebuild the projects sitemap</span>
      npm run generate projects
    </pre>
  </body>
</html>